<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
                <center><h4 class="card-title">Create Asset</h4></center>
    <center><h6>Create your own cryptocoin for your project with us.</h6></center>
                  <div class='container'>
                    <div class='row'>
                      <div class='col-md-12'>
                   	   <h5>Build a coin with us.</h5>
                    	  <p class="card-text">Create a SHA256/SCRYPT/X11/X13/X15/Xevan/PHI1612/Quark coin with source code at affordable prices.</p>
                   	      <hr>
                     	  <h5>Pricing</h5>
                   	      <p class="card-text">Below prices for coin creation including source code and windows-qt wallet.</p>
                            <table class='table table-striped table-sm table-orders table-hover'>
                                <thead class="card-header">
                                    <tr>
                                        <th>Algorithm</th>
                                        <th>Type</th>
                                        <th>Premine</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>SHA256/SCRYPT/X11/X13/X15/Xevan/PHI1612/Quark</th>
                                        <th>PoW or PoS</th>
                                        <th>0% - 10%</th>
                                        <th>0.05BTC</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>SHA256/SCRYPT/X11/X13/X15/Xevan/PHI1612/Quark</th>
                                        <th>PoW or PoS</th>
                                        <th>11% - 20%</th>
                                        <th>0.1BTC</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>SHA256/SCRYPT/X11/X13/X15/Xevan/PHI1612/Quark</th>
                                        <th>PoW or PoS</th>
                                        <th>21% - 50%</th>
                                        <th>0.2BTC</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>SHA256/SCRYPT/X11/X13/X15/Xevan/PHI1612/Quark</th>
                                        <th>PoW or PoS</th>
                                        <th>51% - 100%</th>
                                        <th>0.5BTC</th>
                                    </tr>
                                </thead>
                                <tbody id='id_build_coin'>
                                </tbody>
                            </table>

                            <hr>
                            <h5>Additional Services</h5>
                            <p class="card-text">Additional blockchain related services at affordable rates.</p>
                            <table class='table table-striped table-sm table-orders table-hover'>
                                <thead class="card-header">
                                    <tr>
                                        <th>Service</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Node Hosting</th>
                                        <th>0.005BTC per month</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Block Explorer Hosting</th>
                                        <th>0.005BTC per month</th>
                                    </tr>
                                </thead>
                                 <thead>
                                    <tr>
                                        <th>Linux Wallet</th>
                                        <th>Free if you create the Coin With us, 0.01 btc for any other project</th>
                                    </tr>
                                </thead>
                                <tbody id='id_build_coin'>
                                </tbody>
                            </table>
                        <hr>
                        <h5>Get Quote</h5>
                        <p>To build your own coin contact Enmanet Support Team via <a href="/support">support</a> with following details.</p>
                        <h6>Coin Name (min. 2 letters, max. 12 letters)</h6>
                        <h6>Ticker (min. 2 letters, max. 5 letters)</h6>
                        <h6>Algorithm</h6>
                        <h6>Type (PoW or PoS)</h6>
                        <h6>Maximum Supply</h6>
                        <h6>Premine Amount</h6>
                        <h6>Block Reward</h6>
                        <h6>Block Halving</h6>
                        <h6>Block Timespan</h6>
                        <h6>Annual PoS Reward %, If PoS</h6>
                        <h6>Coin Min./Max. Age, If PoS</h6>
                        <br>
                        <p>Additional services if require.</p>
                        <h6>Linux Wallet</h6>
                        <h6>Node Hosting (min. 1 month, max. 12 months)</h6>
                        <h6>Block Explorer Hosting (min. 1 month, max. 12 months)</h6>
                        <br>
                        <p>Send request via support with all of above details, quotation will be sent to your email address.</p>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

     
    <% include ../partials/footer %>
  </body>
</html>
