<html>
<head>
    <title></title>
    
</head>
<body class="btx-intl">
    
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--[if lt IE 10 ]>
  <meta http-equiv=refresh content="0; URL=http://outdatedbrowser.com/en">
  <script>window.location.href = "http://outdatedbrowser.com/en";</script>
  <![endif]-->
  <title>Home</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="Enmanet">
  <meta name="fragment" content="!">
  <meta name="format-detection" content="telephone=no" />
  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" type="text/css" href="/css/thirdparty.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/landingpage.bundle.min.css" />

  <!-- Core Packages  -->
  <script type="text/javascript" src="/js/frontpage/thirdparty.bundle.min.js"></script>
  <script type="text/javascript" src="/js/frontpage/datatables.bundle.min.js"></script>

  <!-- Utility Packages -->
  <script type="text/javascript" src="/js/frontpage/enmanetutility.bundle.min.js"></script>

  <!-- Layout View Packages -->
  <script type="text/javascript" src="/js/frontpage/enmanetviewmodel.bundle.min.js"></script>
  <script type="text/javascript" src="/js/frontpage/layoutviewmodel.bundle.min.js"></script>

</head>
<body id="main_body" class="btx-intl">

  <nav class="navbar common-navbar header-nav navbar-fixed-top" id="navbar_content">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#common_navbar_collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="logo">
        <a href="/index">
          <span class="Bittrex-logo-mark"></span>
          <span class="Bittrex-word-mark"></span>
        </a>
      </h1>
      <button type="button" class="sm-nav-expand visible-sm">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="nav-list hidden-sm">
      <div class="collapse navbar-collapse header-right clearfix" id="common_navbar_collapse">
        <div class="nav-collapse-box">
          <div class="btn-group pull-right btn-group-right" role="group">
            
            <button type="button" class="btn">Markets</button>
                        <a class="btn anchor-button nav-log-out" href="/signup">
                sign up
            </a>
        <a class="btn anchor-button md_logIn_button" href="/login">
            log in
        </a>

            
          </div>
        </div>
      </div>
    </div>

    <div class="nav-list sm-nav-list hidden-lg hidden-md hidden-xs">
      <div class="sm-nav-header clearfix">
        <div class="nav-close-icon">
          <span class="icon-menu-close-blue" id="close_sm_nav"></span>
        </div>
      </div>
      <div class="sm-nav-body">
        <div class="sm-nav-box">
          <ul class="sm-nav-items" id="un_auth_nav">
            

            <li class="sm-nav-item"><a href="/home/markets">markets</a></li>
          </ul>
          <ul class="sm-nav-items" id="auth_nav">
            <li class="sm-nav-item">            <a href="/signup" style="display: block;">sign up</a>
        <a href="/login">log in</a>
</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="site-banner-container">
    <div id="beta-banner" class="alert alert-info alert-override Enmanet-banner beta-banner">
      <div style="width: 95%; display: inline-block;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

        <strong>Disclaimer</strong>:  This is a beta version of <a href="https://Enmanet.com">Enmanet.com</a>, which is in the process of being tested before official release.
        To learn about the inherent risks in using pre-release software, click <a href="https://support.Enmanet.com/hc/en-us/articles/360000275251" target="_blank">here</a>.
      </div>
      <span class="banner-close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div class="scroll-wrapper clearfix" style="position: relative; top: 56px;">
    <section class="section-welcome clearfix container">

        <div class="Enmanet-logo"></div>

      <div class="section-welcome-footer clearfix">
        <button class="btn form-btn welcome-btn-markets" onclick="window.location='/index'">Explore Markets</button>
        <button class="btn form-btn welcome-btn-account" onclick="window.location='/signup'">Sign Up</button>
      </div>
    </section>
    <section class="section-trade clearfix">
      <div class="container no-padding">
          <aside class="section-trade-aside col-lg-6 col-md-7 col-xs-12">

            <img src="/svg/Globe.svg" class="img-responsive visible-xs-block" alt="illustration-trade-confidently">

            <h3 class="trade-aside-header">Enmanet International</h3>
            <p class="trade-aside-content">
              Enmanet International is a secure, reliable and advanced digital asset trading platform developed for international customers and built on Enmanet’s cutting-edge technology.
              This international trading platform provides innovative tokens a more streamlined approach for being listed, while also providing instant trade execution,
              dependable digital wallets, and industry-leading security practices.
            </p>

            <h3 class="trade-aside-header">Mission &amp; Vision</h3>
            <p class="trade-aside-content">
              We are committed to being a driving force in the blockchain revolution by increasing adoption of this innovative technology around the world. Using our streamlined token listing process,
              we will advance new, innovative blockchain projects that could potentially transform the way goods, services and operations are managed globally.
            </p>

            <img src="/svg/Globe.svg" class="img-responsive visible-sm-block" alt="illustration-trade-confidently">
          </aside>
          <div class="section-trade-banner col-lg-6 col-md-5 hidden-sm hidden-xs" style="margin-top: 70px;">
            <img src="/svg/Globe.svg" class="img-responsive" alt="illustration-trade-confidently">
          </div>
      </div>
    </section>
    <section class="section-security">
      <div class="container">
        <div class="section-security-box col-md-6 col-xs-12">
          <div class="section-security-img">
            <img src="/svg/illustration-algorithmic-trading.svg" class="img-responsive"
                 alt="illustration-algorithmic-trading">
          </div>
          <h3 class="trade-aside-header">Security First</h3>
          <p class="section-security-content">
            Security will always be a top priority in every decision we make, and we incorporate multiple layers of protection, using the most reliable and effective security technologies available to keep your funds secure.
          </p>
        </div>
        <div class="section-security-box col-md-6 col-xs-12">
          <div class="section-security-img">
            <img src="/svg/illustration-security-first.svg" class="img-responsive"
                 alt="illustration-security-first">
          </div>
          <h3 class="trade-aside-header">Robust Trading</h3>
          <p class="section-security-content">
            Our custom trading engine was designed to be scalable and to ensure that orders are executed in real-time. We also support third-party trading platforms and algorithmic trading via our extensive APIs.
          </p>
        </div>
      </div>
    </section>
    <section class="section-support">
      <div class="container">
          <h3 class="trade-aside-header">International Partner Network</h3>
          <p class="section-support-content">
            Every digital asset listed on the Enmanet International platform is not only available to our international customers, but these assets are also available 
            to our network of international partner exchanges to launch (consistent with their local laws), increasing the adoption of this innovative technology
            around the world.
          </p>
      </div>
    </section>

      <section class="section-compliance">
        <div class="container">
          <h3 class="trade-aside-header">Commitment to Compliance</h3>

          <p class="section-compliance-content">
            Enmanet International operates within the regulatory framework established by the European Union and Maltese Government, including the Malta Virtual Financial Assets Act,
            also known as the VFA Act. This platform uses the same high levels of Know Your Customer and Anti-Money Laundering review as other Enmanet Services.

          </p>
        </div>
      </section>

    <section class="section-register">


        <div class="container home-footer">
          

          <div class="home-footer-entry clearfix">
            <div class="trade-aside-header trade-aside-left">
              Submit your Token for Listing
            </div>
            <div class="trade-aside-right">
              <button class="btn form-btn home-signup-btn" onclick="window.location='https://support.Enmanet.com/hc/en-us/articles/360000475411'">Start Listing Process</button>
            </div>
          </div>

          <div class="home-footer-entry clearfix">
            <div class="trade-aside-header trade-aside-left">
              Start Trading Today!
            </div>
            <div class="trade-aside-right">
              <div><button class="btn form-btn home-signup-btn" onclick="window.location='/signup'">Sign Up</button></div>
              <div class="home-footer-login-text">Already have an account? <a href="/login">Log in</a></div>
            </div>
          </div>


            <div class="home-footer-disclaimer">
              As a verified user of this site you will be able to trade in markets offered on both Enmanet International and Enmanet.com.
            </div>

        </div>
    </section>
    <!--injector section three start-->

    <footer class="market-info-footer clearfix">
    <div class="container">
        <div class="all-footer-item col-lg-5 col-md-5 col-xs-12 col-sm-5 first-footer-items no-padding">
            <div class="footer-item col-lg-3 col-md-3 col-xs-3 col-sm-3 no-padding ">
                <a href="/Home/About" target="_blank"><translate original="about">about</translate></a>
            </div>
            <div class="footer-item col-lg-5 col-md-5 col-xs-6 col-sm-6 no-padding">
                <a href="/Status"><translate original="Website Status">Website Status</translate></a>
            </div>
            <div class="footer-item col-lg-4 col-md-4 col-xs-3 col-sm-3 no-padding">
                <a href="/Home/Cookies" target="_blank"><translate original="cookies">cookies</translate></a>
            </div>
            <div class="footer-item col-lg-3 col-md-3 col-xs-3 col-sm-3 no-padding">
                <a href="/Privacy" target="_blank"><translate original="privacy">privacy</translate></a>
            </div>
            <div class="footer-item col-lg-5 col-md-5 col-xs-6 col-sm-6 no-padding">
                <a href="/Home/Api" target="_blank"><translate original="API Documentation">API Documentation</translate></a>
            </div>
            <div class="footer-item col-lg-4 col-md-4 col-xs-3 col-sm-3 no-padding">
                <a href="/Home/Terms" target="_blank"><translate original="Terms">Terms</translate></a>
            </div>
        </div>
        <div class="all-footer-item col-lg-5 col-md-5 col-xs-12 col-sm-4 first-footer-items">
            <div class="footer-item col-lg-4 col-md-4 col-xs-3 col-sm-4 no-padding">
                <a href="/Fees" target="_blank"><translate original="fees">fees</translate></a>
            </div>
            <div class="footer-item col-lg-5 col-md-5 col-xs-6 col-sm-5 no-padding">
                <a href="/Home/Support" target="_blank"><translate original="support">support</translate></a>
            </div>
            <div class="footer-item col-lg-3 col-md-3 col-xs-3 col-sm-3 no-padding">
                <a href="/Home/Contact" target="_blank"><translate original="Contact">Contact</translate></a>
            </div>
            <div class="footer-item col-lg-4 col-md-4 col-xs-3 col-sm-4 no-padding">
                <a href="https://Enmanet.breezy.hr/" target="_blank"><translate original="Careers">Careers</translate></a>
            </div>
            <div class="footer-item col-lg-5 col-md-5 col-xs-6 col-sm-5 no-padding">
                <a href="/cdn-cgi/l/email-protection#d8b9baadabbd98bab1acacaabda0f6bbb7b5"><translate original="Report Abuse">Report Abuse</translate></a>
            </div>
            <div class="footer-item col-lg-3 col-md-3 col-xs-3 col-sm-3 no-padding">
                <a href="https://support.Enmanet.com/hc/en-us/sections/360000253826" target="_blank"><translate original="News">News</translate></a>
            </div>
        </div>
        <div class="all-footer-item col-lg-2 col-md-2 col-xs-12 col-sm-3 footer-item-icon">
            <div class="footer-item col-sm-12 col-xs-6 no-padding">
                <a href="https://twitter.com/Enmanetintl" target="_blank">
                    <span class="icon-twitter-gray-10"></span>
                    <span><translate original="follow us on twitter">follow us on twitter</translate></span>
                </a>
            </div>
            <div class="footer-item col-sm-12 col-xs-6 no-padding">
                <a href="https://www.facebook.com/EnmanetIntl" target="_blank">
                    <span class="icon-facebook-gray-10"></span>
                    <span><translate original="like us on facebook">like us on facebook</translate></span>
                </a>
            </div>
        </div>
    </div>
    <span class="copy-right col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">&copy; 2019 Enmanet, Inc</span>
</footer>

  </div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>

    
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script>
          function OnSubmit(token) {
            document.getElementById("registerForm").submit();
          }
        </script>
      
</body>
</html>

